@using ClientFramework.Authorization 
@inject CustomAuthenticationStateProvider Auth

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="Logout()">
                <span class="oi oi-home" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="NewOrder">
                <span class="oi oi-globe" aria-hidden="true"></span> Picker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ManageUsers">
                <span class="oi oi-globe" aria-hidden="true"></span> Picking Manager
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Troubleshooter">
                <span class="oi oi-globe" aria-hidden="true"></span> Troubleshooter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="replenish">
                <span class="oi oi-globe" aria-hidden="true"></span> Replenisher
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="InboundManager">
                <span class="oi oi-globe" aria-hidden="true"></span> Inbound Manager
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="outbound">
                <span class="oi oi-globe" aria-hidden="true"></span> Loader
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private EventCallback Logout()
    {
        Auth.Logout();
        return EventCallback.Empty;
    }
}