@page "/"

@inject CustomAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using ClientFramework.Authorization


<img src="~/css/img/logo.png" alt="Company logo" class="company-logo main-menu-logo">

<p>Username: <input @bind-value="username"></p>
<p>Password: <input @bind-value="password"></p>

<button onclick="@Login()">Login</button>

@code {
    private string username;
    private string password;
    private async Task Login()
    {
        try
        {
            Console.WriteLine("Entering login method in index");
            await AuthenticationStateProvider.ValidateLogin(username, password);
            username = "";
            password = "";
            NavigationManager.NavigateTo("/InboundManager");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.StackTrace);
        }
    }
}