@page "/"

@using ClientFramework.Data
@using System.ComponentModel.DataAnnotations
@using ClientFramework.REST

<img src="~/css/img/logo.png" alt="Company logo" class="company-logo main-menu-logo">

<p>
    <label>Username: </label><input @bind-value="username">
</p>
<p>
    <label>Password: </label><input @bind-value="password">
</p>

<button onclick="@Login()">Login</button>


@code {
    private string username;
    private string password;

    private async Task Login()
    {
        CustomHTTPRequests c = new CustomHTTPRequests();
        await c.PostLogin(username, password);
    }
}