@page "/NewOrder"
@using ClientFramework.REST
<h3>NewOrder</h3>

<h2>Would you like to take a new order?</h2>


<button onclick="@Affirmation()">YES</button>
<button onclick="@Negation()">NO</button>

@code {

    private static async Task Affirmation()
    {
        CustomHTTPRequests c = new CustomHTTPRequests();
        await c.GetOrder();
    }

    private static async Task Negation()
    {
        
    }
    
}