@page "/NewOrder"
<h3>NewOrder</h3>

<h2>Would you like to take another order?</h2>


<button onclick="@Affirmation()">YES</button>
<button onclick="@Negation()">NO</button>

@code {

    private async Task Affirmation()
    {
        
    }

    private async Task Negation()
    {
        
    }
    
}