@page "/NewOrder"
<h3>New Order</h3>

<h2>Would you like to take a new Order?</h2>

<p>
    <NavLink href="Picker">Accept</NavLink>
</p>

@code {

    public async Task AcceptNewOrder()
    {
        //takes new order from DB
    }   
}