@page "/outbound"

@using ClientFramework.Data
@using System.ComponentModel.DataAnnotations
@using ClientFramework.REST

<h3>Outbound</h3>

<div class="align-items-center">
        <p>
            <h6>Please input a valid order number:</h6>
        </p>
        <p>
            <input type="number" id="id" name="id" @bind-value="OrderNo" @bind-value:event="onchange">
        </p>
        <p>
            <button onclick="@SendMessage()">Confirm order</button>
        </p>
    </div>


@code {

    [Required(ErrorMessage = "Wrong input, please try again")]
    public int OrderNo { get; set; }
    
    public async Task SendMessage()
    {
        CustomHTTPRequests requests = new CustomHTTPRequests();
        await requests.PostConfirmation(OrderNo);
    }
}