@page "/outbound"

@using ClientFramework.Data
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager

<h3>Outbound</h3>
<EditForm Model="@_validationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <ValidationSummary>
    <div class="align-items-center">
        <p>
            <h6>Please input a valid order number:</h6>
        </p>
        <p>
            <InputNumber @bind-Value="_validationModel.OrderNo" />
        </p>
        <p>
            <button class="btn-danger order-0" type="submit">Confirm order</button>
        </p>
    </div>
    </ValidationSummary>
</EditForm>


@code {
    
    private OutboundValidationModel _validationModel = new OutboundValidationModel();

    private void HandleInvalidSubmit() {
        Console.WriteLine("Invalid");
    }

    private void HandleValidSubmit() {
        NavigationManager.NavigateTo("/");
    }

    private class OutboundValidationModel
    {
        [Required(ErrorMessage = "Wrong input, please try again")]
        [Range(1000000,9999999, ErrorMessage = "Please enter a valid order")]
        public int OrderNo { get; set; }
    }
}