# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SEP3-PoC\DBFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
